/output
/output_images
/output_video
gait_treadmill_saggital.mp4
/input_images
/old
/processed_video
gui.py
metrics/
/plots
/.idea
gui_testing.py
input_data2
input_images2
test.avi
coronal_input_data/
coronal_input_images/
output_coronal_images/
gui_testing2.py
op_images1/
op_images2/
op_images3
op_video
output1/
output2/
output3/
Output.avi
Coronal_Output.avi